|===
|필드명|타입|설명|기타

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}} {{#etc}}{{etc}}{{/etc}} {{^etc}} {{/etc}} {{/tableCellContent}}


{{/fields}}
|===
